{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
</script>
{{end}}



<div class="main_content col-lg-10">

    <h2 style="text-align: center; position: static;">Housemates</h2>
    <ul class="nav navbar-nav navbar-right">
                {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
    </ul>

    <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
            {{=icon_add}}Add Bill
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
            {{=icon_cancel}}Cancel
            </button>
    </div>

    <div id="vue-div" class="bills">


        <div v-if="is_adding_post" id="add_post_div">
            <form action="#" v-on:submit.prevent="add_post()" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_artist__row">
                    <div>
                        <input class="form-control string" id="no_table_content" v-model="form_content" placeholder="Content" type="text" />
                        <input class="form-control string" id="no_table_artist" v-model="form_payer" placeholder="Payer" type="text" />
                        <select class="form-control string" id="no_table_artist" v-model="form_circle" placeholder="Group" type="text">
                            <option value="" disabled selected hidden>Select your option</option>
                            <option value="Housemates">Housemates</option>
                            <option value="Events">Events</option>
                            <option value="Individual loans">Individual loans</option>
                            <option value="Subscriptions">Subscriptions</option>
                        </select>
                        <input class="form-control string" id="no_table_artist" v-model="form_bill" placeholder="Bill Name" type="text" />
                        <input class="form-control string" id="no_table_artist" v-model="form_price" placeholder="Price: $" type="decimal" />
                        <select class="form-control string" id="no_table_artist" v-model="form_status" placeholder="Group" type="text">
                            <option value="Pay">Pay</option>
                            <option value="Pending">Pending</option>
                            <option value="Confirmed">Confirmed</option>

                    </div>
                </div>
                <div v-if="is_adding_post" v-on:click="add_post_button()" class="form-group" id="submit_record__row">
                    <div>
                        <input class="btn btn-primary" id="add_post_submit" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>

        <div class="result_table" v-bind:style="style_result">

            <div class ="posts_style" v-for="post in posts">

            <div class="button_bar">
                <button v-if="!is_editing_post" class="btn btn-danger btn-sm" v-on:click="edit_post_button" v-bind:class="{'disabled': !logged_in}">
                    {{=icon_edit}}Edit post
                </button>

                <div v-if="!is_editing_post"><h2>${post.post_content}</h2></div>

                <button v-if="is_editing_post" class="btn btn-warning btn-sm" v-on:click="edit_post_button()">
                    {{=icon_cancel}}Cancel
                </button>
            </div>

        <div v-if="is_editing_post" id="edit_post_div">
            <form action="#" v-on:submit.prevent="edit_post(post.id)" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_artist__row">
                    <div>
                        <textarea class="form-control string" id="no_table_content" v-model="edit_content" value="pre-fill" type="text"> </textarea>
                        <span class="help-block">Edit your post here, refresh to see edit</span>
                    </div>
                </div>
                <div v-if="is_editing_post" v-on:click="edit_post_button()" class="form-group" id="submit_record__row">
                    <div>
                        <input class="btn btn-primary" id="edit_post_submit" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>

                

                <p>User: ${post.user_email}</p>
                <p>Created On: ${post.created_on}</p>
                <p>Updated: ${post.updated_on}</p>
                <p>Creator: ${post.creator}</p>
                <p>Payer: ${post.payer}</p>
                <p>Group: ${post.circle}</p>
                <p>Bill Name: ${post.bill}</p>
                <p>Price: ${post.price}</p>
                <p>Status: ${post.status}</p>

                <p style="text-align: center; width:6%; display: inline-block; " v-on:click="delete_post(post.id)">
                    {{=icon_delete}}
                </p>

            </div>

            <div v-if="has_more" class="show_more">

                <button class="btn btn-default" v-on:click="get_more()">Load more</button>
            </div>

            <img src="logo.png">

        </div>

    </div>
    </div>

    <div class="sidebar col-lg-3">
        <div class="profile">
            <ul class="nav navbar-nav navbar-right">
                {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
            </ul>
            <div id="circle">
            </div>
            <p style="font-size:20px;">Seth</p>
            <p style="text-decoration-color: red;">Owes: </p>
            <p style="text-decoration-color: blue;">Pending: </p>

        </div>
        <div class="categories">
            <div class="eventNames">
                <a href={{=URL('default', 'housemate')}}><button>Housemates</button></a>
                <a href={{=URL('default', 'events')}}><button>Events</button></a>
                <a href={{=URL('default', 'individual_loans')}}><button>Individual Loans</button></a>
                <a href={{=URL('default', 'subscriptions')}}><button>Subscriptions</button></a>
            </div>
        </div>
    </div>







<script src="{{=URL('static', 'js/default_index.js')}}"></script>
