{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
</script>
{{end}}


<body class="housemates">
<div class="col-lg-9" style="width:78%;">

    <h2 style="display: inline-block; text-align: center;">Housemates</h2>
    <ul class="nav navbar-nav navbar-right" style="display: inline-block;">
        {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
    </ul>

    <div id="vue-div" class="bills">
        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
                {{=icon_add}}Add Bill
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
                {{=icon_cancel}}Cancel
            </button>
        </div>


    <div v-if="is_adding_post" id="add_post_div">
        <form action="#" v-on:submit.prevent="add_post()" enctype="multipart/form-data" method="post">
            <div class="form-group" id="no_table_artist__row">
                <div>
                    <input class="content" id="no_table_content" v-model="form_content" placeholder="Bill Name" type="text" />
                   <!-- <input class="content" id="no_table_artist" v-model="form_payer" placeholder="Payer" type="text" />-->
                    <select class="content" id="no_table_artist" v-model="form_circle" placeholder="Group" type="text">
                        <option value="selected"  class="s">Select your option</option>
                        <option value="Housemates">Housemates</option>
                        <option value="Events">Events</option>
                        <option value="Individual loans">Individual loans</option>
                        <option value="Subscriptions">Subscriptions</option>
                    </select>
                  <!--  <input class="content" id="no_table_artist" v-model="form_bill" placeholder="Bill Name" type="text" />-->
                    <input class="content" id="no_table_artist" v-model="form_price" placeholder="Price: $" type="decimal" />
                    <select class="content" id="no_table_artist" v-model="form_status" placeholder="Group" type="text">
                        <option value="Pay">Pay</option>
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        </select>

                </div>
            </div>

            <div v-if="is_adding_post" v-on:click="add_post_button()" class="form-group" id="submit_record__row">
                <div>
                    <input class="btn" id="add_post_submit" type="submit" value="Submit" />
                </div>
            </div>

        </form>
    </div>

        <div class="result_table" v-bind:style="style_result">
            <div  v-for="post in posts">


                    <div class ="posts_style"  v-if="post.circle == 'Housemates'">

                        <div class="billInfo" v-if="!is_editing_post">
                            <div class="billheader">
                                <h3>${post.post_content}</h3>
                              <!--  <p>By ${post.user_email}</p>-->
                                <p>Total Price: ${post.price}</p>
                                <p>Status: ${post.status}</p>
                            </div>
                            <div class="billfooter">
                                <p style="display: inline-block; ">On: ${post.created_on}</p>
                                <i class="fa fa-trash-o" v-if="post.mypost" style="display: inline-block; " v-on:click="delete_post(post.id)"></i>
                                <i class="fa fa-pencil" v-if="post.mypost"style="display:inline-block;" v-on:click="edit_post_button()" v-bind:class="{'disabled': !logged_in}"></i>
                                <i class="fa fa-plus" v-if="post.mypost"style="display:inline-block;" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div v-if="is_editing_post" id="edit_post_div">
                            <form action="#" v-on:submit.prevent="edit_post(post.id)" class="form-horizontal" enctype="multipart/form-data" method="post">
                                <div class="editing_content">
                                    <textarea class="string" id="no_table_content" v-model="post.post_content" value="pre-fill" type="text"> </textarea>
                                    <textarea class=" string" id="no_table_content" v-model="post.price" value="pre-fill" type="text"> </textarea>
                                    <textarea class="string" id="no_table_content" v-model="post.status" value="pre-fill" type="text"> </textarea>
                                </div>
                                <div v-if="is_editing_post" v-on:click="edit_post_button()" id="submit_record__row">
                                    <input class="btn" id="edit_post_submit" type="submit" value="Submit" />
                                </div>
                                <button class="btn btn-warning btn-sm" v-on:click="edit_post_button()">
                                {{=icon_cancel}}Cancel
                                </button>
                            </form>
                        </div>


                        <div v-if=""class=""bodyItems>
                            <div class="item">
                                <p>Item1</p>
                                <p>Item2</p>
                                <p>Item3</p>
                            </div>


                        </div>

                    </div>


            </div>
           <!-- <div v-if="has_more" class="show_more"><button class="btn btn-default" v-on:click="get_more()">Load more</button></div>-->
        </div>

    </div>
    </div>

{{if auth.user_id is not None:}}
    <div class="sidebar col-lg-3" >
        <div class="profile">
            <div class="btn btn-group-justified">
                <a href={{=URL('default', 'settings')}}>Settings</a>
            </div>

            <div id="circle">
                <img src="{{=URL('default', 'download', args=profile_pic)}}" width=120 height=120 >
            </div>

            <p v-if="logged_in"style="font-size:15px;">{{=get_user_name_from_email(auth.user.email)}}</p>
            <p style="text-decoration-color: red;">Owes: </p>
            <p style="text-decoration-color: blue;">Pending: </p>

        </div>
        <div class="categories">

                <a href={{=URL('default', 'housemate')}}><button class="housemates">Housemates</button></a>
                <a href={{=URL('default', 'events')}}><button class="events">Events</button></a>
                <a href={{=URL('default', 'individual_loans')}}><button class="loans">Individual Loans</button></a>
                <a href={{=URL('default', 'subscriptions')}}><button class="subscriptions">Subscriptions</button></a>
                <a href={{=URL('default', 'newsfeed')}}><button class="newsfeed">News Feed</button></a>
        </div>
    </div>
{{pass}}
</body>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
